*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
.container{
  width:980px;
  margin: auto;
}

body,h1,h2,h3,h4,h5,p,a,span{
  font-family: 'Work Sans', sans-serif;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear::after{
  clear: both;
  content: "";
  display: block;
}
/* manin css*/
.header {
  background-color: #ffffff;
  padding: 8px 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 99;
}

.header-logo{
  width: 27%;
}

.logo img{
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.logo span {
    line-height: 55px;
    font-size: 20px;
    color: #010101;
}

.header-menu{
  width: 60%;

}

.header-menu ul{
  list-style: none;
}
.header-menu ul li{
  display: inline-block;
}
.header-menu ul li a {
  display: inline-block;
  color: #010101;
  padding: 0px 20px;
  line-height: 50px;
}
.header-menu ul li a:hover{
  color: #6278df;
  transition: 0.6s;
}

.header-btn{
  width: 13%;
}

.btn {
  color: #6278df;
  display: inline-block;
  margin-top: 5px;
  border: 2px solid #6278df;
  padding: 10px 27px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}
.btn:hover{
  background-color: #6278df;
  color: #ffffff;
  transition: 0.5s;
}

/* Dropdown menu*/
.header-menu ul li{
  position: relative;
}

.header-menu ul li ul li{width: 200px;
  background-color:#ffffff;
  border-bottom: 1px solid #ddd; 
}

.header-menu ul li ul {
  position: absolute;
  top: 125%;
  left: 0;
opacity: 0;
visibility: hidden;
transition: 0.5s;
transform: scaleY(0);
transform-origin: top center;
}


.header-menu ul li:hover ul{
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}


/*Slider Section*/
.slider-section{
  background-image: url(./img/mbr-4.jpg);
  background-position: center center ;
  padding: 170px ;
  position: relative;
  z-index: 1;
  margin-top: 48px;
}

.slider-section::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color:#1e272e ;
  opacity: 0.4;
  filter: alpha(opacity=44);
  z-index: -1;
}

.background-content{
  z-index: 1;
}

.background-content h4{font-size: 25px;
  color: #fff7e4;
}

.background-content h2{
  font-size: 55px;
  padding: 20px;
  margin-top: 8px;
  margin-bottom: 10px;
  color: #ffffff;
}

.button{
display: inline-block;
  background-color: #fcfcfc;
  color: #7d7d7d;
  padding: 20px 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.button:hover{
  background-color: #6278df;
  color: #ffffff;
  transition: 0.6s;
}

/* video */

.video-section{
 padding-top: 90px;
 padding-bottom: 90px;
  background-color: #f7f9ff;
}

.video{
  width: 48%;
}

.video-content{
  width: 48%;
}

.video-content h1{
  font-size: 48px;
  font-weight: 400;
  padding-bottom: 25px;
}

.video-content p {
  line-height: 30px;
  font-size: 18px;
  color: gray;
  font-weight: 300;}

.service-section{
  padding: 70px;
}

.serveice-contenter h2{
  font-size: 50px;
  padding-bottom: 25px;
}

.serveice-contenter p{
  font-size: 22px;
  color: gray;
  font-weight: 300;
  padding-bottom: 90px;
}

.items{
  width: 32%;
  padding: 58px 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-right: 2%;
  margin-bottom: 20px;
}

.items:nth-child(3n+3){
  margin-right: 0;
}

.items span{ height: 130px;
  font-size: 34px;
  font-size: 35px;
  padding: 0px 10px;
  float: left;
  color: #6278df;
}

.items h3{padding-bottom: 28px;
  font-size: 25px;
}

.items p{font-size: 19px;
  color: gray;
  font-weight: 300;
  line-height: 1.7em;
}

/* price section*/
.pricing-table{
  background-color:#f7f9ff ;
  padding: 90px 0px;
}

.price-title {
  margin-bottom: 60px;
}

.price-title h2{font-size: 50px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price-title p{
  font-size: 23px;
  color: #767676;
  font-weight: 300;
  margin-bottom: 15px;
}

.combination-price {
  width: 32%;
  margin-right: 2%;
  padding: 0px;
  background-color: #fff;
  box-shadow: 2px 2px 30px 0px rgba(12, 96, 204,);
}
.combination-price:nth-child(3n+1){
  margin-right: 0;
}

.price {
  border-bottom: 1px solid #767676;
  transition: 0.4s;
  padding: 35px 25px 20px 25px;
}

.combination-price:hover .price{
  background-color: #6278df;
  color:#f7f9ff;
}

.price h4 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.price h3 {
  padding: 20px 0px;
  font-size: 35px;
  font-weight: 800;
}
.price span{font-size: 13px;
}
.price h5 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
.price p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4em;
}

.price-reson ul{list-style:none;
}

.price-reson li{
  display: block;
}

.price-reson {
    padding: 40px 25px 40px 25px;
}

.price-reson ul li span {
  color: #6278df;
  font-size: 23px;
}

.price-reson li {
  display: block;
  padding-bottom: 15px;
  font-size: 20px;
}


.p-button a{
 box-shadow: 2px 2px 30px 0px #d8d5d5;
}

.p-button a {
  width: 70%;
  margin: auto;
  display: block;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
  padding: 20px 20px;
  margin-bottom: 35px;
  transition: 0.4s;
}

.combination-price:hover .p-button a{
  color: #fff;
  background-color: #6278df;
}

.combination-price .p-button a:hover{
  background-color: #010101;
  color: #f7f9ff;
}


/*team section*/
.team-section{
  padding-bottom: 95px
}

.team-title h2 {
  font-size: 38px;
  margin-top: 90px;
  margin-bottom: 64px;
  font-weight: 500;
}

.team-members{
  background-color:#fefeff ;
  width: 23%;
  margin-right: 2%;
  box-shadow: 2px 2px 30px 0px #d8d5d5;}
 

.team-members:nth-child(4n+1){
margin-right: 0;
}

.members img{
width: 100%;
border-radius: 10px 10px 0 0;
}

.member-bio {
  padding: 18px 0px 20px 13px;
}

.member-bio h4 {
  font-size: 21px;
  font-weight: 600;
}

.member-bio p {
  font-size: 18px;
  margin-top: 8px;
  font-weight: 300;
}

/* newsletter css*/

.newsletter-section{
background-color: #f7f9ff;
padding: 60px 0px;
}

.news-title h5 {
  margin-bottom: 28px;
  font-size: 22px;
  color: gray;
  font-weight: 300;
  margin-top: 50px;
}

.news-title h2 {
  font-size: 43px;
  font-weight: 400;
}

.newsform.text-center {
  margin-top: 40px;
}

.default-input{
  width: 350px;
  color: #232323;
  border: 1px solid #e4e4e4 ;
  box-sizing: border-box;
  padding: 26px 30px;
  border-radius: 10px;
  margin: 0;
  box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
  font-size: 15px;
  outline: none;
  transition: 0.8s;
}



.default-input:focus{ box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.9);
  border-radius: 10px;
  border: 1px solid #6278df;
}


.submit {
  padding: 20px 70px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #6278df;
  margin-left: 1%;
  border-radius: 10px;
  color: #ffff;
border: 2px solid transparent;
  transition: 0.4s;
  cursor: pointer;
}

.submit:hover{
  color: #6278df;
  background-color: #f7f9ff;
  border: 2px solid #6278df;
  font-weight: 600;
}
/* Update css*/

.update-section{
  background-color: #fff;
  padding: 90px 0px ;
}


.left-update{
  width: 50%;
}

.right-update{
  width: 50%;
}

.floating-img-content{
  width: 48%;
 box-shadow: 1px 1px 5px rgb(30 20 10 / 13%);
 transition: 0.3s;
}

.floating-img-content:hover{
  box-shadow: 1px 0px 12px rgba(11, 88, 233, 0.2);
}

.floating-img-content img {
  width: 250px;
  margin-right: 11px;
}


.update-title{
  margin-bottom: 40px;
}

.left-update h3 {
  font-size: 34px;
  font-weight: 600;
  margin-top: 16px;
}

.right-update p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  color: gray;
  margin-left: 20px;
}

.img-content h4 {
  font-size: 26px;
  margin-bottom: 16px;
  font-weight: 500;
}

.img-content {
  margin-top: 10px;
}

.img-content p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7em;
}

/*feedback section*/
.feedback-section{
  background-color:#f7f9ff ;
  padding: 90px 0px;
}

.feedback-title h5 {
  font-size: 24px;
  color: gray;
  font-weight: 300;
  margin-bottom: 22px;
}

.feedback-title h2 {
  font-size: 37px;
  font-weight: 400;
}



.feedback-img{
  width: 31%;
}

.feedback-img img {
  border-radius: 100px;
  width: 88px;
  float: left;
  margin-left: 80px;
}

.feedback-content {
  width: 31%;
  margin-right: 2%;
  margin-top: 60px;
  padding: 43px 16px;
  background-color: #ffffff;
  font-size: 17px;
  color: gray;
  font-weight: 300;
  line-height: 1.7em;
  margin-bottom:30px;
  line-height: 1.9em;
  position: relative;
  box-shadow: 2px 1px 12px rgba(13, 166, 236, 8%);
  transition: 0.4s;
}

.feedback-content:last-child{
  margin: 0;
}

.feedback-content::after {
  content: "";
  position: absolute;
  left: 112px;
  right: 0;
  bottom: -24px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  border-width: 25px 20px 0 20px;
  display: inline-block;
  height: 0;
  width: 0;
}

.feedback-content:hover{
 box-shadow: 2px 2px 22px rgba(13, 166, 236, 10%) ;
}


.feedback-content p{
  color: #767676;
  font-size: 20px;
  line-height: 1.8em;
  position: relative;
  margin-bottom: 0;
}

.feedback-content p::before{
  content: "\f10d";
  font-family:"fontawesome";
  position: absolute;
  font-size: 90px;
  opacity: 0.2;
  left: 0;
  right: 0;
}

.img-bio {
  padding: 20px 0px 0px 180px;
}

.img-bio h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.img-bio span {
  color: gray;
  font-weight: 300;
  font-size: 18px;
  padding: 22px 4px;
}

/* map-content section*/
 .map-content-section{
padding: 80px 0px;
background-color: #fff;
 }

.map-left{
width: 50%; 
}

.map-content-right{
width: 46%;
margin-top: 10px;
}

.map-content-form .m10{
margin-bottom: 10px;
}

.map-content-title h3{
font-size: 18px;
margin-bottom: 5px;
}
.map-content-title p{
  color: #232323;
  font-size: 15px;
}


.map-content-form .w100{
min-width: 100%;
max-width: 100%;
}

.map-content-form .w50{
  width: 48%;
}

.map-content-right {
  width: 46%;
  margin-top: 30px;
}

.map-content-title h3 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 400;
}

.map-content-title p {
  color: gray;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 40px;
}

/*footer-section*/
.footer-section{
  background-color: #6278df;
  padding-top: 26px;
  padding-bottom: 15px;
}

.footer-left{
  width: 60%;
}

.footer-left p {
  color: #fff;
  font-size: 27px;
}
.footer-right{
  width: 40%;
}
.footer-right .fa {
  color: #fff;
  font-size: 35px;
  padding-right: 30px;
  line-height: 60px;
}